<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="materias"></ion-back-button>
    </ion-buttons>
    <ion-title>{{materiaSrv.misMaterias.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>{{miComision.nombre}}</h1>
  </ion-item>

  <ion-button color="success" expand="block" fill="clear" shape="round" [routerLink]="['ConfigurarClase']">
    <ion-icon slot="start" size="2" name= "build-outline" ></ion-icon>
      Configurar Comisión
  </ion-button>
  

</ion-content>

  