<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="materias"></ion-back-button>
    </ion-buttons>
    <ion-title>{{materiaSrv.miMateria.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>{{miComision.nombre}}</h1>
  </ion-item>

    <ion-icon slot="start" size="2" name=  <ion-button (click)="configurarComision();" color="success" expand="block" fill="clear" shape="round">
"build-outline" ></ion-icon>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"> </ion-datetime>
    Configurar Comisión
  </ion-button>
  

</ion-content>

  