<ion-header>
  <ion-toolbar>
    <ion-title>fechayhora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label position="floating"><b>Fecha de Inicio</b></ion-label>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2020" max="2050" [(ngModel)]="fechaInicio"></ion-datetime>  

  </ion-item>

  
  <ion-item>
    <ion-label position="floating"><b>Hora</b></ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="hora"></ion-datetime>

  </ion-item> -->

  <ion-item>
    <ion-label>D MMM YYYY H:mm</ion-label>
    <ion-datetime displayFormat="D MMM YYYY H:mm" min="2020" max="2050" [(ngModel)]="fechaInicio"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><b>Duración</b></ion-label>
    <ion-datetime displayFormat="HH:mm"  min="00:00" max="06:00" [(ngModel)]="duracion"></ion-datetime>

  </ion-item>



  <ion-item (click)="elegirAula()">
    <ion-label><b>Aula</b></ion-label>
  </ion-item>

  <ion-button (click)='confirmar()' color="primary" expand="block">Confirmar</ion-button>


</ion-content>
