<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label position="floating">DNI <ion-text color='danger'>*</ion-text></ion-label>
    <ion-input [(ngModel)]="dni" type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre <ion-text color='danger'>*</ion-text></ion-label>
    <ion-input [(ngModel)]="nombre" type="text" placeholder="Juan" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido <ion-text color='danger'>*</ion-text></ion-label>
    <ion-input [(ngModel)]="apellido" type="text" placeholder="García" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Email <ion-text color='danger'>*</ion-text></ion-label>
    <ion-input [(ngModel)]="correo" type="email" placeholder="example@dominio.com" required></ion-input>
   
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="contrasena1" type="password" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repetir contraseña <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="contrasena2" type="password" required></ion-input>
  </ion-item>
  <ion-item>
    
  </ion-item>
  <ion-button (click)='guardar()' color="primary" expand="block">Guardar</ion-button>
</ion-content>
